/* @import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@200&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Lekton&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300;400&display=swap'); */

@font-face {
  font-family: 'futura';
  src: url("/futura_thin.ttf");
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'futura' !important;
}

.btn{
  border: none !important;
}

.btn-primary{
  color: black !important;
  background-color: white !important;
  font-size: 20px !important;
}

.dropdown-item{
  color: rgba(0, 0, 0, 1) !important;
  font-weight: 500 !important;
  font-size: 16px;
}

.dropdown-item a{
  color: black !important;
  text-decoration: none !important;
}

h1,h2,h3,h4,h5,h6{
  margin-bottom: 0 !important;
}

.MuiBadge-colorSecondary{
  background-color: rgba(0, 89, 76, 1) !important;
}

.custom-img {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

.unset-img {
  width: 100%;
}
.unset-img > div {
  position: unset !important;
}